body {
    margin: 0;
    padding: 0;
    margin-block-start: 0px;
}

.about-us {
    background-image: url(./img/fon3.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-bottom: 50px;
}

.footer {
    background-color: #5ad888;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.icon {
    width: 50px;
    height: 50px;
}

.element-menu:hover {
    background-color: #1d9c4c;
    border-radius: 15px;
}

.footer {
    background-color: #5ad888;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.element-menu {
    text-decoration: none;
    color: white;
    padding: 4px;
}

.menu {
    background-color: #5ad888;
    display: flex;
    justify-content: space-around;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

.number-phone {
    padding-top: 8px;
    font-size: 18px;
    font-weight: 900;
}

.icon-phone {
    height: 40px;
}

.phone {
    background-color: #5ad888;
    border-radius: 30px;
    height: 35px;
    width: 210px;
    padding-left: 10px;
    display: flex;
}

.list-work {
    background-color: rgb(90, 216, 136,0.7);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 5px;
    margin-right: 5px;
}

.container-wrap {
    flex-wrap: wrap;
}

.title {
    border: solid 3px #5ad888;
    border-radius: 20px;
    padding: 7px;
    letter-spacing: 3px;
    background: rgb(255, 255, 255, 0.5);
}

.subtitle {
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    margin-block-start: 0;
    margin-block-end: 0;
    border-radius: 10px;
    /* background: rgb(255, 255, 255,0.5); */
}

.our-house{
    margin-top: 50px;
}
.text {
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
    padding: 15px;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.5);
}

.review-client {
    width: 250px;
    height: auto;
    margin-left: 5px;
}
.review-min{
    display: none;
}

@media screen and (max-width: 450px) {
    .menu {
        font-size: 15px;
    }
    .list-work{
        padding: 0px;
    }
    .list-work-container {
        /* background-color: rgb(90, 216, 136); */
        /* border: 2px solid #5ad888; */
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text {
        font-size: 18px;
    }

    /* .review-client {
        width: 70px;
        height: auto;
        margin-left: 5px;
    }

    .review-client:hover {
        transform: scale(2.9);
        margin-left: 5px;
        margin-right: 5px;
    } */
    .review-min{
        display: inline;
    }
    .review-max{
        display: none;
    }
}

@media screen and (max-width: 1020px) {
    /* .review-client {
        width: 70px;
        height: auto;
        margin-left: 5px;
    }

    .review-client:hover {
        transform: scale(2.9);
       
    } */
    .review-min{
        display: inline;
    }
    .review-max{
        display: none;
    }
}

.carousel {
    position: relative;
    width: 251px;
    padding: 10px 40px;
    border: 1px solid #CCC;
    border-radius: 15px;
    background: #eee;
    background: #5ad888;
  }
  
  .carousel img {
    width: 250px;
    height: 550px;
    /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
    display: block;
  }
  
  .arrow {
    position: absolute;
    top: 60px;
    padding: 2px;
    /* background: #ddd; */
    background: white;
    border-radius: 10px;
    border: 1px solid gray;
    
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    /* color: #444; */
    color:#5ad888;
    display: block;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    background: #ccc;
    cursor: pointer;
  }
  
  .prev {
    left: 7px;
  }
  
  .next {
    right: 7px;
  }
  
  .gallery {
    width: 252px;
    overflow: hidden;
  }
  
  .gallery ul {
    height: 550px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
  
    font-size: 0;
  }
  
  .gallery li {
    display: inline-block;
  }